body {
      /*background-color: rgba(184, 226, 214, 0.5);*/
      /* font-family: 'Ranchers', cursive; */
      font-family: 'Oswald', sans-serif;
    }

    h1 {
      font-family: 'Grandstander', cursive;
    }

.section1 {
      line-height: 2rem;
      
    }

.maincontent {
      background-color: rgba(184, 226, 214, 0.5);
      margin: 5rem;
      padding: 2rem;
      text-align: center;
      max-width: 30rem;
    }
body {
  height: 100%;
}

/*body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}*/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middel{
  border-radius: 0;
  margin-bottom: -1px;
}
.bottom{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
