h1{
  font-family: fantasy;
  text-align: center;
  border-bottom: 2px solid pink;
  width: 400px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img{
  width: 400px;
  height: 250px;
  margin: 10px;
  transition: all 1s;
}
img:hover{
  transform: scale(1.1);
}
