body{
   background-color: rgba(184 ,226 ,214 ,0.5);
   /* font-family: 'Ranchers', cursive; */
   font-family: 'Oswald', sans-serif;
}
h1{
  font-family: 'Grandstander', cursive;
}
.section1{
  line-height: 2rem;
  

}
.maincontent{
  background-color: rgba(184 ,226 ,214 ,0.5);
  line-height: 2rem;
  margin: 5rem;
  padding: 2rem;
}
