body{
   background-color: rgba(184 ,226 ,214 ,0.5);
   /* font-family: 'Ranchers', cursive; */
   font-family: 'Oswald', sans-serif;
}
h1{
  margin: 3rem;
  text-align: center;
  font-family: 'Grandstander', cursive;
}
.section1{
  margin-left: 25rem;
  line-height: 2rem;
  text-align: center;
}
