body{
 font-family: 'Montserrat', sans-serif;
}
p{
  color: #8f8f8f
}
.heading2{
  font-family: 'Russo One', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  padding: 1rem;
}
.heading{
  font-family: 'Russo One', sans-serif;
  font-size: 4.5rem;
  line-height: 1.5;
  /* padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%; */
  padding-left: 5%;
  padding-right: 5%;
}
.btn-download1{
text-align: center;

}
.Download-btn{
  margin: 1rem;
}
.container-fluid{
  padding-top: 1%;
  padding-bottom: 6%;
  padding-left: 15%;
  padding-right: 15%;
}
#title{
  background-color: #ff4c69;
  font-weight: bold;
  color: white;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
 position: relative;
 z-index:1;
}
.idog{
  width: 70%;
  padding-top: 10%;
  transform: rotate(25deg);
  position: absolute;
  z-index: -1;
  padding-left: 20%;
}

@media (max-width:990px) {
  .idog{
    width: 60%;
    position: static;
    transform: rotate(0);
    padding-left: 0px;
  }
  #title{
    text-align: center;
  }
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
/* navbar */
.navbar{
  padding-bottom: 0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;

}
.nav-item{
  padding: 0 15px;
}



.feature-box{
  text-align: center;
  padding: 5%;
  font-family: 'Russo One', sans-serif;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;

}
.icon:hover{
  color: #ff4c69
}

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color:#fff;

}
.carousel-item{
  padding: 7% 19%;
}
.testimonials-image{
  width: 20%;
  border-radius: 100%;
  margin: 0.7rem;

}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.testimonials-image2{
  width: 8%;
  margin: 20px 20px 20px 50px;
}
.caption{
  display: block;
}
#pricing{
  padding: 7% 15%;
  text-align: center;

}
.price-heading{
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
  line-height: 1.2;

  padding-bottom: 5%;
}

#cta{
  background-color: #ff4c69;
  font-weight: bold;
  text-align: center;
  padding: 7% 15%;

}
/* .ending-footer{
    margin: 80px;
} */
.cta-heading{
  font-family: 'Russo One', sans-serif;

  font-size: 5vw;
}

#footer{
  text-align: center;
  padding: 7% 15%;

}
.social-icon{
  margin: 20px 10px;
}
